<div class="smart-hotel-booking-root">
  <h1 class="main-title">Smart Hotel Booking</h1>
  <hr class="main-divider" />
  <div class="search-box">
    <form #searchForm="ngForm" (ngSubmit)="triggerSearch(searchForm)">
      <div class="input-group">
        <input
          type="text"
          name="searchTerm"
          [(ngModel)]="searchTerm"
          (input)="updateSearchLabel()"
          placeholder="Location/Hotel Name"
          required
        />
   
        <!-- Dates section -->
        <div class="date-input">
          <label>Check-in Date</label>
          <input 
            type="date" 
            name="checkInDate"
            [min]="today" 
            [(ngModel)]="checkInDate" 
            required 
          />
        </div>
        <div class="date-input">
          <label>Check-out Date</label>
          <input 
            type="date" 
            name="checkOutDate"
            [min]="checkInDate" 
            [(ngModel)]="checkOutDate" 
            required 
          />
        </div>

        <!-- Guest selection -->
        <!-- .stopPropogation stops the bubbling up the code -->
        <div class="guest-selector" (click)="$event.stopPropagation()">
          <div class="guest-select" (click)="toggleGuestSelector()">{{guestSelectionText}}</div>
          <app-guest-selector
            *ngIf="showGuestSelector"
            [isVisible]="true"
            (selectionChange)="onGuestSelectionChange($event)"
            (close)="closeGuestSelector()"
          ></app-guest-selector>
        </div>
   
        <button type="submit" [disabled]="searchForm.invalid">{{searchButtonLabel}}</button>
      </div>
      <div class="error" *ngIf="dateError">{{ dateError }}</div>
    </form>
  </div>
 
 
  <div *ngIf="searchTriggered" class="hotel-list">
    <div
      *ngFor="let hotel of hotels | hotelFilter:searchTerm"
      class="hotel-card"
    >
      <h3>{{ hotel.name }}</h3>
      <p>{{ hotel.location }}</p>
      <p>₹{{ hotel.price }}</p>
      <p>{{ hotel.rating }}</p>
     <button class="book-btn" (click)="bookHotel(hotel)">Book</button>
    </div>
  </div>
</div>